$flexgaps: (5,10,15,20,24);
@each $flexgap in $flexgaps {
    .gap-#{$flexgap} {
        gap: #{$flexgap}px !important;
    }

    .gap-row-#{$flexgap} {
        row-gap: #{$flexgap}px !important;
    }

    .gap-column-#{$flexgap} {
        column-gap: #{$flexgap}px !important;
    }
}