section.iop-list-view {
    h3 {
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }

    .iop-filters {
        display: flex;
        flex-wrap: wrap; 

        .filter-container {

            flex-direction: column;
            display: flex;
        
            &__item {
                display: flex;
                align-items: center;
                width: 250px;
    
                mat-icon {
                    color: black;
                }
            }
        }
    }
    
}

