section.iop-list-view {
    h3 {
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
        line-height: 24px;
    }

    .filter-container {
        
        &__item {
            display: flex;
            align-items: center;
            width: 250px;
        }
    }
}

