<section class="sidemenu m-16">
    <div class="logo-container gap-10 ml-40 mt-36 mb-20">
        <mat-icon class="icon-size-100" [svgIcon]="homeNavItem.name!"></mat-icon>
    </div>
    <div class="user-info-container ml-36 mb-32 mt-8">
        <div class="row gap-10">
            <mat-icon class="icon-size-40" [svgIcon]="userNavItem.name!"></mat-icon>
            <div class="user-info">
                <!-- User will be fetched through auth layer, for now hardcoded -->
                <span class="font-size-20">Marko Kovačić</span>
                <span class="user-info__role">Ugovorna dokumentacija</span>
            </div>
        </div>
    </div>
    <div class="nav-item-container ml-16">
        @for(navItem of (featureNavItems$ | async); track navItem) {
            <div class="nav-item-container__item pl-24 gap-10" [routerLink]="navItem.urlPath">
                <mat-icon class="icon-size-32" [svgIcon]="navItem.name!"></mat-icon>
                <span class="font-size-16">
                    {{ navItem.name}}
                </span>
            </div>
        }
    </div>
</section>